# Limpieza y procesado de datos 3

## Librerías

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from missingno import matrix
import missingno as msno

In [28]:
# Carga de datos
df = pd.read_csv(r'C:\Users\nuria\OneDrive\Escritorio\ML_student_depression\data\raw\Depression Student Dataset_2.csv')
df.head()

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,Male,28,2.0,4.0,7-8 hours,Moderate,Yes,9,2,Yes,No
1,Male,28,4.0,5.0,5-6 hours,Healthy,Yes,7,1,Yes,No
2,Male,25,1.0,3.0,5-6 hours,Unhealthy,Yes,10,4,No,Yes
3,Male,23,1.0,4.0,More than 8 hours,Unhealthy,Yes,7,2,Yes,No
4,Female,31,1.0,5.0,More than 8 hours,Healthy,Yes,4,2,Yes,No

### Opciones
- Eliminar la columnas 'City', 'Profession', 'Work Pressure', 'Job Satisfaction', 'Degree'
- Numerar las columnas 'Sleep Duration' y 'Dietary habits'
- Convertir los yes y no en 0 y 1

In [17]:
eliminar = ['City', 'Profession', 'Work Pressure', 'Job Satisfaction', 'Degree']
df = df.drop(columns=eliminar) 
df.head()

,id,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,5.0,8.97,2.0,5-6 hours,Healthy,Yes,3.0,1.0,No,1
1,8,Female,24.0,2.0,5.90,5.0,5-6 hours,Moderate,No,3.0,2.0,Yes,0
2,26,Male,31.0,3.0,7.03,5.0,Less than 5 hours,Healthy,No,9.0,1.0,Yes,0
3,30,Female,28.0,3.0,5.59,2.0,7-8 hours,Moderate,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,4.0,8.13,3.0,5-6 hours,Moderate,Yes,1.0,1.0,No,0

In [18]:
df.tail(8)

,id,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27893,140672,Female,24.0,3.0,6.02,2.0,7-8 hours,Moderate,No,8.0,2.0,No,0
27894,140681,Male,23.0,3.0,6.00,2.0,More than 8 hours,Healthy,Yes,12.0,4.0,No,0
27895,140684,Male,31.0,2.0,7.27,5.0,7-8 hours,Moderate,Yes,6.0,1.0,Yes,0
27896,140685,Female,27.0,5.0,5.75,5.0,5-6 hours,Unhealthy,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,2.0,9.40,3.0,Less than 5 hours,Healthy,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,3.0,6.61,4.0,5-6 hours,Unhealthy,No,12.0,2.0,No,0
27899,140690,Female,18.0,5.0,6.88,2.0,Less than 5 hours,Healthy,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,4.0,9.24,1.0,Less than 5 hours,Healthy,Yes,2.0,3.0,Yes,1

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
encode = LabelEncoder()
df_categorical =[]
for column in df.columns:
    if df[column].dtypes=="object":
        df_categorical.append(column)
for column in df_categorical: 
    df[column] = encode.fit_transform(df[column])

In [31]:
df.head(7)

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,1,28,2.0,4.0,1,1,1,9,2,1,0
1,1,28,4.0,5.0,0,0,1,7,1,1,0
2,1,25,1.0,3.0,0,2,1,10,4,0,1
3,1,23,1.0,4.0,3,2,1,7,2,1,0
4,0,31,1.0,5.0,3,0,1,4,2,1,0
5,1,19,4.0,4.0,0,2,1,1,4,1,1
6,0,34,4.0,2.0,3,1,1,6,2,0,1

In [32]:
df.tail(7)

,Gender,Age,Academic Pressure,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Study Hours,Financial Stress,Family History of Mental Illness,Depression
495,0,28,3.0,4.0,1,1,0,3,1,0,0
496,1,29,3.0,1.0,1,2,1,9,3,1,1
497,1,26,5.0,2.0,3,2,0,8,3,0,1
498,1,24,2.0,1.0,2,2,1,8,5,0,1
499,0,23,3.0,5.0,0,0,0,1,5,1,0
500,1,33,4.0,4.0,3,0,0,8,1,1,0
501,1,18,5.0,3.0,3,2,0,6,2,1,1

### Transformaciones:
- Gender: Male: 1, Female: 0
- Sleep Duration: 5-6 hours: 0, 7-8 hours: 1, Less than 5 hours: 2, More than 8 hours: 3
- Dietary Habits: Healthy: 0, Moderate: 1, Unhealthy: 3 ¿?

In [33]:
print(df.shape)
print('-----------------------------------------------------------------------------------')
print(df.columns)
print('-----------------------------------------------------------------------------------')
print(df.info())
print('-----------------------------------------------------------------------------------')

(502, 11)
-----------------------------------------------------------------------------------
Index(['Gender', 'Age', 'Academic Pressure', 'Study Satisfaction',
       'Sleep Duration', 'Dietary Habits',
       'Have you ever had suicidal thoughts ?', 'Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')
-----------------------------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502 entries, 0 to 501
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Gender                                 502 non-null    int64
 1   Age                                    502 non-null    int64
 2   Academic Pressure                      502 non-null    float64
 3   Study Satisfaction                     502 non-null    float64
 4   Sleep Duration                         502 non-null    int64
 5   Dietary Habits                         502 non-null    int64
 6   Have you ever had suicidal thoughts ?  502 non-null    int64
 7   Study Hours                            502 non-null    int64
 8   Financial Stress                       502 non-null    int64
 9   Family History of Mental Illness       502 non-null    int64
 10  Depression                             502 non-null    int64
dtypes: float64(2), int64(9)
memory usage: 43.3 KB
None
-----------------------------------------------------------------------------------

In [34]:
print(df.isnull().sum())

Gender                                   0
Age                                      0
Academic Pressure                        0
Study Satisfaction                       0
Sleep Duration                           0
Dietary Habits                           0
Have you ever had suicidal thoughts ?    0
Study Hours                              0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [12]:
# Eliminación de los Nan de la columna Financial Stress
#df = df.dropna(subset=['Financial Stress'])
#df.head()

,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,1,33.0,5.0,8.97,2.0,0,0,1,3.0,1.0,0,1
1,0,24.0,2.0,5.90,5.0,0,1,0,3.0,2.0,1,0
2,1,31.0,3.0,7.03,5.0,2,0,0,9.0,1.0,1,0
3,0,28.0,3.0,5.59,2.0,1,1,1,4.0,5.0,1,1
4,0,25.0,4.0,8.13,3.0,0,1,1,1.0,1.0,0,0

In [25]:
# Imputar los valores nan a la mediana
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
df['Financial Stress'] = imputer.fit_transform(df[['Financial Stress']])
df.head()

,id,Gender,Age,Academic Pressure,CGPA,Study Satisfaction,Sleep Duration,Dietary Habits,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,1,33.0,5.0,8.97,2.0,0,0,1,3.0,1.0,0,1
1,8,0,24.0,2.0,5.90,5.0,0,1,0,3.0,2.0,1,0
2,26,1,31.0,3.0,7.03,5.0,2,0,0,9.0,1.0,1,0
3,30,0,28.0,3.0,5.59,2.0,1,1,1,4.0,5.0,1,1
4,32,0,25.0,4.0,8.13,3.0,0,1,1,1.0,1.0,0,0

In [26]:
print(df.isnull().sum())

id                                       0
Gender                                   0
Age                                      0
Academic Pressure                        0
CGPA                                     0
Study Satisfaction                       0
Sleep Duration                           0
Dietary Habits                           0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64

In [35]:
# Guarda el DataFrame modificado en un nuevo archivo CSV
df.to_csv("dataset_limpio_3.csv", index=False)